body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
#container {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: minmax(max-content);
    /* gap: 1rem; */

}


  .nameofcolor{
    white-space: nowrap;
  }
  .content {
      width: 1750px;
      height: 600px;
      display: flex;
    }

 .content li {
      text-align: center;
      line-height: 80px;
      list-style: none;
      width: 350px;
      height: 1000px;
    }

  .content li:hover {
      width: 800px;
      transition: all 2s;
      color: rgb(0, 0, 0);
      line-height: 600px;
      font-size: 50px;
    }